<div ng-app="pil_main_page">
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-md-3">
        <app-sidebar-pilot></app-sidebar-pilot>
      </div>
      <div class="col-md-8">
          <router-outlet></router-outlet>
          <table class="table table-hover" >
              <thead>
                <tr>
                  <th scope="col">Request No</th>
                  <th scope="col">Sender Name</th>
                  <th scope="col">District</th>
                  <th scope="col">Date</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let request of pending_req_arr">
                  <th scope="row">{{request.req_id}}</th>
                  <td>{{request.district}}</td>
                  <td>{{request.date}}</td>
                  <td>{{request.time}}</td>
                  <td><a routerLink="/req_detail/{{request.req_id}}">View More</a></td>
                </tr>
                
              </tbody>
            </table>
      </div>

    </div>
  
  </div>
</div>
